<table summary="Subject form fields">
  <tr>
    <th><%= foo.label(:name, "Name") %></th>
    <td><%= foo.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= foo.label(:position) %></th>
    <td><%= foo.text_field(:position) %></td>
  </tr>
  <tr>
    <th><%= foo.label(:visible) %></th>
    <td><%= foo.check_box(:visible) %></td>
  </tr>
</table>